/*重写body style*/
body {
    margin-top: 70px;
    margin-bottom: 30px;
    background-color: #F0F0F0;
}

/*重写面板style*/
.panel {
    border-radius: 0px;
    border: 0px;
    background-color: #F0F0F0;
    box-shadow: 1px 1px 2px 2px #D5D5D5;
}

/*面板最小高度为屏幕高度*/
.panel-body {
    min-height:88%;
    background-color:#FDFDFD;
}

.col-md-2 {
    margin-right: 15px;
}
.col-md-10 {
    margin-left: -15px;
    margin-right: -15px;
}


#main-nav {
    margin-left: 1px;
}

    #main-nav.nav-tabs.nav-stacked > li > a {
        padding: 12px 12px;
        font-size: 12px;
        font-weight: 600;
        color: #4A515B;
        background: #F4F4F4;
        border: 0px solid #D5D5D5;
        border-radius: 0px;
    }

        #main-nav.nav-tabs.nav-stacked > li > a > span {
            color: #4A515B;
        }

        #main-nav.nav-tabs.nav-stacked > li.active > a, #main-nav.nav-tabs.nav-stacked > li > a:hover {
            color: #FFF;
            background: #3C4049;
            border-color: #2B2E33;
        }

            #main-nav.nav-tabs.nav-stacked > li.active > a, #main-nav.nav-tabs.nav-stacked > li > a:hover > span {
                color: #FFF;
            }

    #main-nav.nav-tabs.nav-stacked > li {
        margin-bottom: -2px;
    }

/*定义二级菜单样式*/
.secondmenu a {
    font-size: 12px;
    color: #4A515B;
    text-align: center;
}

.navbar-static-top {
    background-color: #212121;
    margin-bottom: 5px;
}

.navbar-brand {
    background: url('') no-repeat 10px 8px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
    color: #fff;
}